<ion-view view-title="Break Even Analysis">
  <ion-content>
    <h1>Break Even Analysis</h1>

      <form ng-submit="">
                              <div class="col">
                              <label class="item">
                                Fixed cost
                                <div class="col col-2"></div><input type="number" placeholder="{{data.fixed}}" ng-model="data.fixed">
                              </div>
                          </label>

                          <div class="col">
                          <label class="item">
                            Variable cost per unit<input type="number" placeholder="{{data.varcost}}" ng-model="data.varcost">
                          </div>
                          </label>

                          <div class="col">
                          <label class="item">
                            Unit Price<input type="number" placeholder="{{data.unitprice}}" ng-model="data.unitprice">
                          </div>
                          </label>
        </form>


<a class="button button-balanced" href="#/app/breakevenoutput">Perform Analysis</a>


</ion-content>
</ion-view>
