<ion-view view-title="Intial Setup Cost">
  <ion-content>
    <h2>Break Even Analysis</h2>
    <br>
      <br>


    <div class="col">
          <label class="item item-positive item-floating-label" id="breakeven">BreakEven<br>
            {{breakeven()}}
          </label>
        </div>

            <div class="col">Break Even = {{breakeven()}}</div>
            <br>
              <br>

            <p>Tactics to be used for improving profit</p>

            <br>
              <br>
              <br>
                <br>
                <br>
    <a class="button button-positive" href="#/app/home">HOME</a>
</ion-content>
</ion-view>
