<ion-view view-title="companyinformation">
  <ion-content>
    <h2>Company Information</h2>
    <form ng-submit="">
                    <div class="list list-inset">
                        <label class="item item-input">
                            <input ng-model="task.title" type="text" placeholder="Company Name">
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content" rows="3" placeholder="Vision"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content" rows="5" placeholder="Mission"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content" rows="5" placeholder="Product/Service Description"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content" rows="5" placeholder="Owner"></textarea>
                        </label>
                      <button type="submit" class="button button-block button-positive">Save</button>
                    </div>
                </form>
  </ion-content>
</ion-view>
