<ion-view view-title="Home">
  <ion-content>

    <div class="button-bar bar-light">
          <a class="button button-light large_button" href="#/app/companyinfo">Company Information</a>
       <a class="button button-light large_button1" href="#/app/finance">Finance</a>
          </div>
      <div class="button-bar bar-light">

       <a class="button button-light large_button2" href="#/app/strategies">Strategies</a>
       <a class="button button-light large_button3" href="#/app/product">Marketing Mix</a>
       </div>


  </ion-content>
</ion-view>
