<ion-view view-title="Home">
  <ion-content>
    <div class="button-bar">
   <a class="button button-positive large_button">Company Information</a>
   <a class="button button-assertive large_button">Finance</a>
   </div>
  <div class="button-bar">
   <a class="button button-calm large_button">Operations</a>
   <a class="button button-balanced large_button">Strategies</a>
   </div>
   <div class="button-bar">
  <a class="button button-energized large_button">Marketing</a>
  <a class="button button-royal large_button">Business Canvas</a>
  </div>
  </ion-content>
</ion-view>
