<ion-view view-title="Home">
  <ion-content>
    <div class="button-bar">
      <a class="button button-positive large_button" href="#/app/companyinfo">Company Information</a>
   <a class="button button-assertive large_button" href="#/app/finance">Finance</a>
      </div>
  <div class="button-bar">
  
   <a class="button button-calm large_button" href="#/app/strategies">Strategies</a>
   <a class="button button-balanced large_button" href="#/app/product">Marketing Mix</a>
   </div>

  </ion-content>
</ion-view>
