<ion-view view-title="Intial Setup Cost">
  <ion-content>
    <h2>Infrastructure</h2>
    <form ng-submit="">
                    <div class="list list-inset">
                        <label ng-model="task.title">
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content1" rows="1" placeholder="Rent Deposit"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content2" rows="1" placeholder="Computer and Office Equipment"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content3" rows="1" placeholder="Starting Inventory,Raw Materials and Tools"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content4" rows="1" placeholder="Office Supplies"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content5" rows="1" placeholder="Pre Operating Market"></textarea>
                        </label>
                        <button type="submit" class="button button-block button-calm">Save</button>
                      <a class="button button-block button-positive" href="#/app/initialsub2">Next</a>
                    </div>
                </form>
  </ion-content>
</ion-view>
