<ion-view view-title="Intial Setup Cost">
  <ion-content>
    <h2>Initial Expenses</h2>
    <form ng-submit="">
                            <div class="col">
                            <label class="item">
                              Legal cost
                              <div class="col col-2"></div><input type="number" placeholder="{{data.legal}}" ng-model="data.legal">
                            </div>
                        </label>

                        <div class="col">
                        <label class="item">
                          Insurance<input type="number" placeholder="{{data.insurance}}" ng-model="data.insurance">
                        </div>
                        </label>

                        <div class="col">
                        <label class="item">
                          Business Licenses<input type="number" placeholder="{{data.licence}}" ng-model="data.licence">
                        </div>
                        </label>

                        <div class="col">
                        <label class="item">
                          Franchisee cost<input type="number" placeholder="{{data.franchisee}}" ng-model="data.franchisee">
                        </div>
                        </label>

                        <div class="col">
                        <label class="item">
                          Operating costs<input type="number" placeholder="{{data.operating}}" ng-model="data.operating">
                        </div>
                        </label>
                    </form>


                    <a type="submit" class="button button-block button-positive" href="#/app/initialsub3">Next</a>

  </ion-content>
</ion-view>
