<ion-view view-title="Intial Setup Cost">
  <ion-content>
    <h2>Infrastructure</h2>
    <form ng-submit="addListItem(initialinfra)" name ="initialinfra">
                    <div class="list list-inset">
                        <label ng-model="initialinfra">
                        </label>
                      Rent Deposit <label class="item item-input">
                      <textarea ng-model="task.content1" rows="1" placeholder="Rent Deposit" required></textarea>
                        </label>
                      Computer and Office Equipment
                        <label class="item item-input">
                            <textarea ng-model="task.content2" rows="1" placeholder="Computer and Office Equipment"></textarea>
                        </label>
                      Starting Inventory,Raw Materials and Tools
                        <label class="item item-input">
                            <textarea ng-model="task.content3" rows="1" placeholder="Starting Inventory,Raw Materials and Tools"></textarea>
                        </label>
                      Office Supplies
                        <label class="item item-input">
                            <textarea ng-model="task.content4" rows="1" placeholder="Office Supplies"></textarea>
                        </label>
                      Pre Operating Market
                        <label class="item item-input">
                            <textarea ng-model="task.content5" rows="1" placeholder="Pre Operating Market"></textarea>
                        </label>
                        <button type="submit" class="button button-block button-calm">Save</button>
                      <a class="button button-block button-positive" href="#/app/initialsub2">Next</a>
                    </div>
                </form>
  </ion-content>
</ion-view>
