<ion-view view-title="Intial Setup Cost">
  <ion-content>
    <h2>Initial Setup Cost</h2>
    <form ng-submit="">
                    <div class="list list-inset">
                        <label ng-model="task.title">
                          Infrastructure
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content1" rows="1" placeholder="Rent Deposit"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content2" rows="1" placeholder="Computer and Office Equipment"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content3" rows="1" placeholder="Starting Inventory,Raw Materials and Tools"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content4" rows="1" placeholder="Office Supplies"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content5" rows="1" placeholder="Pre Operating Market"></textarea>
                        </label>
                      <button type="submit" class="button button-block button-positive">Save</button>

                      <label ng-model="task1.title">
                        Intial Expenses
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task1.content1" rows="1" placeholder="Legal cost"></textarea>
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task1.content2" rows="1" placeholder="Insurance"></textarea>
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task1.content3" rows="1" placeholder="Business Licenses"></textarea>
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task1.content4" rows="1" placeholder="Franchise cost"></textarea>
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task1.content5" rows="1" placeholder="Operating costs"></textarea>
                      </label>
                    <button type="submit" class="button button-block button-positive">Save</button>

                    <label ng-model="task2.title">
                      Other Setup Expenses
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task2.content1" rows="1" placeholder="Logo Design"></textarea>
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task2.content2" rows="1" placeholder="Website Design"></textarea>
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task2.content3" rows="1" placeholder="Payroll"></textarea>
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task2.content4" rows="1" placeholder="Training"></textarea>
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task2.content5" rows="1" placeholder="Others"></textarea>
                    </label>
                  <button type="submit" class="button button-block button-positive">Save</button>
                    </div>
                </form>
  </ion-content>
</ion-view>
