<ion-view view-title="Intial Setup Cost">
  <ion-content>
    <h2>Other Setup Expenses</h2>
    <form ng-submit="">
                            <div class="col">
                            <label class="item">
                              Logo Design
                              <div class="col col-2"></div><input type="number" placeholder="{{data.logoDesign}}" ng-model="data.logoDesign">
                            </div>
                        </label>

                        <div class="col">
                        <label class="item">
                          Website Design<input type="number" placeholder="{{data.websiteDesign}}" ng-model="data.websiteDesign">
                        </div>
                        </label>

                        <div class="col">
                        <label class="item">
                          Payroll<input type="number" placeholder="{{data.payroll}}" ng-model="data.payroll">
                        </div>
                        </label>

                        <div class="col">
                        <label class="item">
                          Training<input type="number" placeholder="{{data.training}}" ng-model="data.training">
                        </div>
                        </label>

                        <div class="col">
                        <label class="item">
                          Others<input type="number" placeholder="{{data.others}}" ng-model="data.others">
                        </div>
                        </label>
                    </form>


            <a  type="submit" class="button button-block button-calm" href="#/app/outputinitial">Overall Initial Setup Cost</a>
      </ion-content>
</ion-view>
