<ion-view view-title="Intial Setup Cost">
  <ion-content>
    <h2>Initial Expenses</h2>
    <form ng-submit="">
                    <div class="list list-inset">
                      <label ng-model="task1.title">
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task1.content1" rows="1" placeholder="Legal cost"></textarea>
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task1.content2" rows="1" placeholder="Insurance"></textarea>
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task1.content3" rows="1" placeholder="Business Licenses"></textarea>
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task1.content4" rows="1" placeholder="Franchise cost"></textarea>
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task1.content5" rows="1" placeholder="Operating costs"></textarea>
                      </label>
                      <button type="submit" class="button button-block button-calm">Save</button>
                    <a class="button button-block button-positive" href="#/app/initialsub3">Next</a>
                    </div>
                </form>
  </ion-content>
</ion-view>
