<ion-view view-title="Intial Setup Cost">
  <ion-content>
    <h2>Infrastructure</h2>
    <form ng-submit="">
                            <div class="col">
                            <label class="item">
                              Rent Deposit
                              <div class="col col-2"></div><input type="number" placeholder="{{data.a}}" ng-model="data.a">
                            </div>
                        </label>

                        <div class="col">
                        <label class="item">
                          Computer and Office Equipment<input type="number" placeholder="{{data.b}}" ng-model="data.b">
                        </div>
                        </label>

                        <div class="col">
                        <label class="item">
                          Starting Inventory,Raw Materials and Tools<input type="number" placeholder="{{data.c}}" ng-model="data.c">
                        </div>
                        </label>

                        <div class="col">
                        <label class="item">
                          Office Supplies<input type="number" placeholder="{{data.d}}" ng-model="data.d">
                        </div>
                        </label>

                        <div class="col">
                        <label class="item">
                          Pre Operating Market<input type="number" placeholder="{{data.e}}" ng-model="data.e">
                        </div>
                        </label>
                    </form>
          <div class="col">
            <label class="item item-positive item-floating-label" id="result">Total<br>
              {{result()}}
            </label>
          </div>
          <div class="col">
          Rent Deposit = {{data.a}}</div>
            <div class="col">
          Computer and Office Equipment = {{data.b}}</div>
          <div class="col">
          Starting Inventory,Raw Materials and Tools = {{data.c}}</div>
        <div class="col">  Office Supplies = {{data.d}}</div>
        <div class="col">  Pre Operating Market = {{data.e}}</div>
          <div class="col">Total = {{data.f}}</div>
          </ion-content>
</ion-view>
