<ion-view view-title="Intial Setup Cost">
  <ion-content>
    <h2>Intial Setup Cost</h2>
    <form ng-submit="">
                    <div class="list list-inset">
                        <label class="item item-input">
                            <input ng-model="task.title" type="text" placeholder="Infrastructure">
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content" rows="1" placeholder="Rent Deposit"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content" rows="1" placeholder="Computer and Office Equipment"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content" rows="1" placeholder="Starting Inventory,Raw Materials and Tools"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content" rows="1" placeholder="Office Supplies"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content" rows="1" placeholder="Pre Operating Market"></textarea>
                        </label>
                      <button type="submit" class="button button-block button-positive">Save</button>

                      <label class="item item-input">
                          <input ng-model="task.title" type="text" placeholder="Intial Expenses">
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task.content" rows="1" placeholder="Legal cost"></textarea>
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task.content" rows="1" placeholder="Insurance"></textarea>
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task.content" rows="1" placeholder="Business Licenses"></textarea>
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task.content" rows="1" placeholder="Franchise cost"></textarea>
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task.content" rows="1" placeholder="Operating costs"></textarea>
                      </label>
                    <button type="submit" class="button button-block button-positive">Save</button>

                    <label class="item item-input">
                        <input ng-model="task.title" type="text" placeholder="Other Setup Expenses">
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task.content" rows="1" placeholder="Logo Design"></textarea>
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task.content" rows="1" placeholder="Website Design"></textarea>
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task.content" rows="1" placeholder="Payroll"></textarea>
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task.content" rows="1" placeholder="Training"></textarea>
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task.content" rows="1" placeholder="Others"></textarea>
                    </label>
                  <button type="submit" class="button button-block button-positive">Save</button>
                    </div>
                </form>
  </ion-content>
</ion-view>
