<ion-view view-title="Intial Setup Cost">
  <ion-content>
    <h2>Intial Setup Cost</h2>
    <form ng-submit="">
                    <div class="list list-inset">
                        <label ng-model="task.title">
                          Infrastructure
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task1.content" rows="1" placeholder="Rent Deposit"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task2.content" rows="1" placeholder="Computer and Office Equipment"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task3.content" rows="1" placeholder="Starting Inventory,Raw Materials and Tools"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task4.content" rows="1" placeholder="Office Supplies"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task5.content" rows="1" placeholder="Pre Operating Market"></textarea>
                        </label>
                      <button type="submit" class="button button-block button-positive">Save</button>

                      <label ng-model="task.title">
                        Intial Expenses
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task6.content" rows="1" placeholder="Legal cost"></textarea>
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task7.content" rows="1" placeholder="Insurance"></textarea>
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task8.content" rows="1" placeholder="Business Licenses"></textarea>
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task9.content" rows="1" placeholder="Franchise cost"></textarea>
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task10.content" rows="1" placeholder="Operating costs"></textarea>
                      </label>
                    <button type="submit" class="button button-block button-positive">Save</button>

                    <label ng-model="task.title">
                      Other Setup Expenses
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task11.content" rows="1" placeholder="Logo Design"></textarea>
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task12.content" rows="1" placeholder="Website Design"></textarea>
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task13.content" rows="1" placeholder="Payroll"></textarea>
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task14.content" rows="1" placeholder="Training"></textarea>
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task15.content" rows="1" placeholder="Others"></textarea>
                    </label>
                  <button type="submit" class="button button-block button-positive">Save</button>
                    </div>
                </form>
  </ion-content>
</ion-view>
