<ion-view view-title="Marketing Mix">
  <ion-content>
    <h1>Marketing Mix</h1>
<h2>Four Ps</h2>
<h2>Products</h2>

  <div class="list">

        <ion-checkbox ng-repeat="item in productList"
                      ng-model="item.checked"
                      ng-checked="item.checked">
          {{ item.text }}
        </ion-checkbox>
        </div>
<h2>Price</h2>

  <div class="list">

        <ion-checkbox ng-repeat="item in priceList"
                      ng-model="item.checked"
                      ng-checked="item.checked">
          {{ item.text }}
        </ion-checkbox>
        </div>

          </ion-content>
</ion-view>
