<ion-view view-title="Monthly Expenses">
  <ion-content>
    <h2>Communication Expenses</h2>
    <form ng-submit="">
                    <div class="list list-inset">

                  <label ng-model="task3.title">

                  </label>
                  <label class="item item-input">
                      <textarea ng-model="task3.content1" rows="1" placeholder="Advertising"></textarea>
                  </label>
                  <label class="item item-input">
                      <textarea ng-model="task3.content2" rows="1" placeholder="Telephone"></textarea>
                  </label>
                  <label class="item item-input">
                      <textarea ng-model="task3.content3" rows="1" placeholder="Internet Connection"></textarea>
                  </label>
                  <label class="item item-input">
                      <textarea ng-model="task3.content4" rows="1" placeholder="Website hosting"></textarea>
                  </label>
                  <label class="item item-input">
                      <textarea ng-model="task3.content5" rows="1" placeholder="Others"></textarea>
                  </label>
                <button type="submit" class="button button-block button-calm">Save</button>
                    </div>
                </form>
  </ion-content>
</ion-view>
