<ion-view view-title="Monthly Expenses">
  <ion-content>
    <h2>Communication Expenses</h2>
    <form ng-submit="">
                            <div class="col">
                            <label class="item">
                            Advertising
                              <div class="col col-2"></div><input type="number" placeholder="{{data.adv}}" ng-model="data.adv">
                            </div>
                        </label>
                        <div class="col">
                        <label class="item">
                          Telephone<input type="number" placeholder="{{data.tele}}" ng-model="data.tele">
                        </div>
                        </label>

                        <div class="col">
                        <label class="item">
                          Internet Connection<input type="number" placeholder="{{data.internet}}" ng-model="data.internet">
                        </div>
                        </label>

                        <div class="col">
                        <label class="item">
                          Website hosting<input type="number" placeholder="{{data.webhost}}" ng-model="data.webhost">
                        </div>
                        </label>

                        <div class="col">
                        <label class="item">
                          Others<input type="number" placeholder="{{data.otherss}}" ng-model="data.otherss">
                        </div>
                        </label>
                    </form>

                    <div class="col">
                      <label class="item item-positive item-floating-label" id="commsum">Total<br>
                        {{commsum()}}
                      </label>
                    </div>
                    <div class="col">
                    Advertising = {{data.adv}}</div>
                      <div class="col">
                    Telephone = {{data.tele}}</div>
                    <div class="col">
                    Internet Connection = {{data.internet}}</div>
                  <div class="col"> Website hosting = {{data.webhost}}</div>
                  <div class="col">  Others = {{data.otherss}}</div>
                    <div class="col">Total = {{commsum()}}</div>



                <button type="submit" class="button button-block button-calm">Save</button>

  </ion-content>
</ion-view>
