<ion-view view-title="Monthly Expenses">
  <ion-content>
    <h2>Monthly Expenses</h2>
    <form ng-submit="">
                    <div class="list list-inset">
                        <label ng-model="task.title">
                          Infrastructure Expenses
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task1.content" rows="1" placeholder="Rent"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task2.content" rows="1" placeholder="Equipments lease"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task3.content" rows="1" placeholder="Inventory"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task4.content" rows="1" placeholder="Supplies"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task5.content" rows="1" placeholder="Utilities"></textarea>
                        </label>
                      <button type="submit" class="button button-block button-positive">Save</button>

                      <label ng-model="task.title">
                        Business and Legal Expenses
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task6.content" rows="1" placeholder="Legal cost"></textarea>
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task7.content" rows="1" placeholder="Shipping cost"></textarea>
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task8.content" rows="1" placeholder="Business"></textarea>
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task9.content" rows="1" placeholder="Franchise fee"></textarea>
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task10.content" rows="1" placeholder="Operating costs"></textarea>
                      </label>
                    <button type="submit" class="button button-block button-positive">Save</button>

                    <label ng-model="task.title">
                      Salary and Taxes
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task11.content" rows="1" placeholder="Salary"></textarea>
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task12.content" rows="1" placeholder="Payroll Tax"></textarea>
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task13.content" rows="1" placeholder="Interest and Principal on loan"></textarea>
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task14.content" rows="1" placeholder="Taxes"></textarea>
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task15.content" rows="1" placeholder="Health"></textarea>
                    </label>
                  <button type="submit" class="button button-block button-positive">Save</button>

                  <label ng-model="task.title">
                    Company Expenses
                  </label>
                  <label class="item item-input">
                      <textarea ng-model="task16.content" rows="1" placeholder="Advertising"></textarea>
                  </label>
                  <label class="item item-input">
                      <textarea ng-model="task17.content" rows="1" placeholder="Telephone"></textarea>
                  </label>
                  <label class="item item-input">
                      <textarea ng-model="task18.content" rows="1" placeholder="Internet Connection"></textarea>
                  </label>
                  <label class="item item-input">
                      <textarea ng-model="task19.content" rows="1" placeholder="Website hosting"></textarea>
                  </label>
                  <label class="item item-input">
                      <textarea ng-model="task20.content" rows="1" placeholder="Others"></textarea>
                  </label>
                <button type="submit" class="button button-block button-positive">Save</button>
                    </div>
                </form>
  </ion-content>
</ion-view>
