<ion-view view-title="Monthly Income Chart">
  <ion-content>
    <h2>Monthly Income Chart</h2>
    <div class="card">
            <div class="item item-divider">
                A bar chart
            </div>
            <div class="item item-text-wrap">
                <canvas id="bar" class="chart chart-bar" data="data10" labels="labels10" legend="true" series="series10" options="{showTooltips: false}"></canvas>
            </div>
        </div>
  <a class="button button-balanced" href="#/app/home">HOME</a>
    <a class="button button-balanced" href="#/app/monthlyincome">BACK</a>
</ion-content>
</ion-view>
