<ion-view view-title="Monthly Expenses">
  <ion-content>
    <h2>Salary and Taxes</h2>
    <form ng-submit="">
                            <div class="col">
                            <label class="item">
                            Salary
                              <div class="col col-2"></div><input type="number" placeholder="{{data.salary}}" ng-model="data.salary">
                            </div>
                        </label>
                        <div class="col">
                        <label class="item">
                          Payroll Tax<input type="number" placeholder="{{data.mpayroll}}" ng-model="data.mpayroll">
                        </div>
                        </label>

                        <div class="col">
                        <label class="item">
                        Interest and Principal on loan<input type="number" placeholder="{{data.loan}}" ng-model="data.loan">
                        </div>
                        </label>

                        <div class="col">
                        <label class="item">
                        Taxes<input type="number" placeholder="{{data.taxes}}" ng-model="data.taxes">
                        </div>
                        </label>

                        <div class="col">
                        <label class="item">
                        Health<input type="number" placeholder="{{data.health}}" ng-model="data.health">
                        </div>
                        </label>
                    </form>

                    <button class="button button-full button-positive" ng-click="storeObject()">
                               Save
                            </button>
                  <a type="submit" class="button button-block button-positive" href="#/app/monthlysub4">Next</a>

                          <a class="button button-calm" href="#/app/monthlysub2"><i class="icon icon ion-arrow-left-b"></i> BACK</a>

  </ion-content>
</ion-view>
