<ion-view view-title="Monthly Expenses">
  <ion-content>
    <h2>Infrastructure Expenses</h2>
    <form ng-submit="">
                    <div class="list list-inset">
                        <label ng-model="task.title">
                                              </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content1" rows="1" placeholder="Rent"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content2" rows="1" placeholder="Equipments lease"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content3" rows="1" placeholder="Inventory"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content4" rows="1" placeholder="Supplies"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content5" rows="1" placeholder="Utilities"></textarea>
                        </label>
                      <button type="submit" class="button button-block button-calm">Save</button>
                        <a class="button button-block button-positive" href="#/app/monthlysub2">Next</a>

                    </div>
                </form>
  </ion-content>
</ion-view>
