<ion-view view-title="Monthly Expenses">
  <ion-content>
    <h2>Monthly Expenses</h2>
    <form ng-submit="">
                    <div class="list list-inset">
                        <label class="item item-input">
                            <input ng-model="task.title" type="text" placeholder="Infrastructure Expenses">
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content" rows="1" placeholder="Rent"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content" rows="1" placeholder="Equipments lease"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content" rows="1" placeholder="Inventory"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content" rows="1" placeholder="Supplies"></textarea>
                        </label>
                        <label class="item item-input">
                            <textarea ng-model="task.content" rows="1" placeholder="Utilities"></textarea>
                        </label>
                      <button type="submit" class="button button-block button-positive">Save</button>

                      <label class="item item-input">
                          <input ng-model="task.title" type="text" placeholder="Business and Legal Expenses">
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task.content" rows="1" placeholder="Legal cost"></textarea>
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task.content" rows="1" placeholder="Shipping cost"></textarea>
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task.content" rows="1" placeholder="Business"></textarea>
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task.content" rows="1" placeholder="Franchise fee"></textarea>
                      </label>
                      <label class="item item-input">
                          <textarea ng-model="task.content" rows="1" placeholder="Operating costs"></textarea>
                      </label>
                    <button type="submit" class="button button-block button-positive">Save</button>

                    <label class="item item-input">
                        <input ng-model="task.title" type="text" placeholder="Salary and Taxes">
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task.content" rows="1" placeholder="Salary"></textarea>
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task.content" rows="1" placeholder="Payroll Tax"></textarea>
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task.content" rows="1" placeholder="Interest and Principal on loan"></textarea>
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task.content" rows="1" placeholder="Taxes"></textarea>
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task.content" rows="1" placeholder="Health"></textarea>
                    </label>
                  <button type="submit" class="button button-block button-positive">Save</button>

                  <label class="item item-input">
                      <input ng-model="task.title" type="text" placeholder="Company Expenses">
                  </label>
                  <label class="item item-input">
                      <textarea ng-model="task.content" rows="1" placeholder="Advertising"></textarea>
                  </label>
                  <label class="item item-input">
                      <textarea ng-model="task.content" rows="1" placeholder="Telephone"></textarea>
                  </label>
                  <label class="item item-input">
                      <textarea ng-model="task.content" rows="1" placeholder="Internet Connection"></textarea>
                  </label>
                  <label class="item item-input">
                      <textarea ng-model="task.content" rows="1" placeholder="Website hosting"></textarea>
                  </label>
                  <label class="item item-input">
                      <textarea ng-model="task.content" rows="1" placeholder="Others"></textarea>
                  </label>
                <button type="submit" class="button button-block button-positive">Save</button>
                    </div>
                </form>
  </ion-content>
</ion-view>
