<ion-view view-title="Monthly Expenses">
  <ion-content>
    <h2>Infrastructure Expenses</h2>
    <form ng-submit="">
                            <div class="col">
                            <label class="item">
                              Rent
                              <div class="col col-2"></div><input type="number" placeholder="{{data.rent}}" ng-model="data.rent">
                            </div>
                        </label>
                        <div class="col">
                        <label class="item">
                          Equipments lease<input type="number" placeholder="{{data.equip}}" ng-model="data.equip">
                        </div>
                        </label>

                        <div class="col">
                        <label class="item">
                          Inventory<input type="number" placeholder="{{data.inventory}}" ng-model="data.inventory">
                        </div>
                        </label>

                        <div class="col">
                        <label class="item">
                          Supplies<input type="number" placeholder="{{data.supplies}}" ng-model="data.supplies">
                        </div>
                        </label>

                        <div class="col">
                        <label class="item">
                          Utilities<input type="number" placeholder="{{data.utilities}}" ng-model="data.utilities">
                        </div>
                        </label>
                    </form>

                    <div class="col">
                      <label class="item item-positive item-floating-label" id="infrasum">Total<br>
                        {{infrasum()}}
                      </label>
                    </div>
                    <div class="col">
                    Rent = {{data.rent}}</div>
                      <div class="col">
                    Equipments lease = {{data.equip}}</div>
                    <div class="col">
                    Inventory = {{data.inventory}}</div>
                  <div class="col"> Supplies = {{data.supplies}}</div>
                  <div class="col">  Utilities = {{data.utilities}}</div>
                    <div class="col">Total = {{infrasum()}}</div>        

                      <button type="submit" class="button button-block button-calm">Save</button>
                        <a class="button button-block button-positive" href="#/app/monthlysub2">Next</a>


  </ion-content>
</ion-view>
