<ion-view view-title="Monthly Expenses">
  <ion-content>
    <h2>Salary and Taxes</h2>
    <form ng-submit="">
                    <div class="list list-inset">

                    <label ng-model="task2.title">

                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task2.content1" rows="1" placeholder="Salary"></textarea>
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task2.content2" rows="1" placeholder="Payroll Tax"></textarea>
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task2.content3" rows="1" placeholder="Interest and Principal on loan"></textarea>
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task2.content4" rows="1" placeholder="Taxes"></textarea>
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="task2.content5" rows="1" placeholder="Health"></textarea>
                    </label>
                  <button type="submit" class="button button-block button-calm">Save</button>
                  <a class="button button-block button-positive" href="#/app/monthlysub4">Next</a>



                    </div>
                </form>
  </ion-content>
</ion-view>
