<ion-view view-title="promotion">
  <ion-content>
    <h1>Marketing Mix</h1>
<h2>Four Ps</h2>
<h2>Promotion</h2>

<h2>Suggestions</h2>
<div ng-repeat="promotion  in $storage.pro">
                 Promotion: {{promotion.suggestion}}
         </div>
        <button type="submit" class="button button-block button-calm">Save</button>
        <a class="button button-assertive" href="#/app/todo">To Do</a>
        <a class="button button-positive" href="#/app/home">HOME</a>
          <a class="button button-positive" href="#/app/promotion">BACK</a>
      </ion-content>
</ion-view>
