<ion-view view-title="Initial Setup Cost">
  <ion-content>
    <h2>Initial Expenses</h2>
    <div class="col">
      <label class="item item-positive item-floating-label" id="initialresult">Total<br>
        {{initialresult()}}
      </label>
    </div>
    <div class="col">
    Legal cost = {{data.legal}}</div>
      <div class="col">
    Insurance = {{data.insurance}}</div>
    <div class="col">
    Business Licenses = {{data.licence}}</div>
  <div class="col"> Franchisee cost = {{data.franchisee}}</div>
  <div class="col">  Operating costs = {{data.operating}}</div>
    <div class="col">Total = {{initialresult()}}</div>

  <a class="button button-positive" href="#/app/outputinfra">Infrastructure Expenses</a>
  <a class="button button-balanced" href="#/app/outputother">Other Expenses</a>

</ion-content>
</ion-view>
