<ion-view view-title="Intial Setup Cost">
  <ion-content>
    <h2>Intial Setup Cost</h2>
    <a class="button button-positive" href="#/app/outputinfra">Infrastructure Expenses</a>
      <a class="button button-positive" href="#/app/outputiniex">Initial Expenses</a>
        <a class="button button-positive" href="#/app/outputother">Other Expenses</a>
<div class="card">
<div class="item item-divider">
    Initial Setup Cost
</div>
<div class="item item-text-wrap">
  <canvas id="pie" class="chart chart-pie" data="data1" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
  </div>
  </div>


</ion-content>
</ion-view>
