<ion-view view-title="Monthly Expenses">
  <ion-content>
        <h2>Business and Legal Expenses</h2>
        <div class="col">
          <label class="item item-positive item-floating-label" id="legalsum">Total<br>
            {{legalsum()}}
          </label>
        </div>
        <div class="col">
        Legal cost = {{data.mlegal}}</div>
          <div class="col">
        Shipping cost = {{data.shipping}}</div>
        <div class="col">
        Business = {{data.business}}</div>
      <div class="col"> Franchisee fee = {{data.mfranchisee}}</div>
      <div class="col">  Operating costs = {{data.moperating}}</div>
        <div class="col">Total = {{legalsum()}}</div>

  <a class="button button-positive" href="#/app/outputmsub1">Infrastructure Expenses</a>
    <a class="button button-balanced" href="#/app/outputmsub3">Salary and Taxes</a>
      <a class="button button-positive" href="#/app/outputmsub4">Communication Expenses</a>
      <a class="button button-positive" href="#/app/home"><i class="icon icon ion-home"></i> HOME</a>
</ion-content>
</ion-view>
