<ion-view view-title="Initial Setup Cost">
  <ion-content>
    <h2>Intial Setup Cost</h2>


  <a class="button button-positive" href="#/app/outputinfra">Infrastructure Expenses</a>
    <a class="button button-positive" href="#/app/outputiniex">Initial Expenses</a>
      <a class="button button-positive" href="#/app/outputother">Other Expenses</a>

      <div class="col">Infrastructure = {{infraresult()}}</div>
      <div class="col">Initial = {{initialresult()}}</div>
        <div class="col">Other = {{otherresult()}}</div>
          <div class="col">Overall = {{totalini()}}</div>
          <button class="button button-full button-positive" ng-click="toggle1()">
                   Alternate View
                </button>

          <canvas id="base" class="chart-base" chart-type="type1"
        chart-data="data5" chart-labels="labels" >
        </canvas>

</ion-content>
</ion-view>
