<ion-view view-title="Monthly Expenses">
  <ion-content>
    <h2>Total Monthly Expenses</h2>

    <a class="button button-balanced" href="#/app/outputmsub1">Infrastructure Expenses</a>
          <a class="button button-balanced" href="#/app/outputmsub2">Business and Legal Expenses</a>
          <a class="button button-balanced" href="#/app/outputmsub3">Salary and Taxes</a>
  <a class="button button-balanced" href="#/app/outputmsub4">Communication Expenses</a>

<div class="card">
<div class="item item-divider">
  Monthly Expenses
</div>
<div class="item item-text-wrap">
  <canvas id="pie" class="chart chart-pie" data="data2" labels="labels1" legend="true" series="series" options="{showTooltips: false}"></canvas>
  </div>
  </div>
</ion-content>
</ion-view>
