<ion-view view-title="Monthly Expenses">
  <ion-content>
        <h2>Communication Expenses</h2>
        <div class="col">
          <label class="item item-positive item-floating-label" id="commsum">Total<br>
            {{commsum()}}
          </label>
        </div>
        <div class="col">
        Advertising = {{data.adv}}</div>
          <div class="col">
        Telephone = {{data.tele}}</div>
        <div class="col">
        Internet Connection = {{data.internet}}</div>
      <div class="col"> Website hosting = {{data.webhost}}</div>
      <div class="col">  Others = {{data.otherss}}</div>
        <div class="col">Total = {{commsum()}}</div>

  <a class="button button-calm" href="#/app/outputmsub1">Infrastructure Expenses</a>
        <a class="button button-calm" href="#/app/outputmsub2">Business and Legal Expenses</a>
        <a class="button button-calm" href="#/app/outputmsub3">Salary and Taxes</a>

<br>
<br>
          <a class="button button-block button-balanced" href="#/app/home">HOME</a>

</ion-content>
</ion-view>
