<ion-view view-title="Monthly Expenses">
  <ion-content>
    <h2>Total Monthly Expenses</h2>

    <a class="button button-balanced" href="#/app/outputmsub1">Infrastructure Expenses</a>
          <a class="button button-balanced" href="#/app/outputmsub2">Business and Legal Expenses</a>
          <a class="button button-balanced" href="#/app/outputmsub3">Salary and Taxes</a>
  <a class="button button-balanced" href="#/app/outputmsub4">Communication Expenses</a>

  <div class="col">Infrastructure Expenses = {{infrasum()}}</div>
  <div class="col">Business and Legal Expenses = {{legalsum()}}</div>
    <div class="col">Salary and Taxes = {{taxsum()}}</div>
    <div class="col">Communication Expenses = {{commsum()}}</div>
      <div class="col">Overall = {{totalmon()}}</div>
      <button class="button button-full button-positive" ng-click="storeObject()">
               Save total
            </button>

<div class="card">
<div class="item item-divider">
  Monthly Expenses
</div>
<div class="item item-text-wrap">
    <canvas id="polar-area" class="chart chart-polar-area" data="data6" labels="labels1" legend="true"  options="{showTooltips: true}"></canvas>
  </div>
  </div>
</ion-content>
</ion-view>
