<ion-view view-title="place">
  <ion-content>
    <h1>Marketing Mix</h1>
<h2>Four Ps</h2>
<h2>Place</h2>

<h2>Suggestions</h2>
<div ng-repeat="place in $storage.pla">
                 Place: {{place.suggestion}}
         </div>
        <button type="submit" class="button button-block button-calm">Save</button>
        <a class="button button-assertive" href="#/app/todo">To Do</a>
        <a class="button button-positive" href="#/app/home">HOME</a>
          <a class="button button-positive" href="#/app/place">BACK</a>
      </ion-content>
</ion-view>
