<ion-view view-title="price">
  <ion-content>
    <h1>Marketing Mix</h1>
<h2>Four Ps</h2>
<h2>Price</h2>
<h2>Suggestions</h2>
<div ng-repeat="price in $storage.pri">
                 Price: {{price.suggestion}}
         </div>
        <button type="submit" class="button button-block button-calm">Save</button>
        <a class="button button-assertive" href="#/app/todo">To Do</a>
<a class="button button-positive" href="#/app/home">HOME</a>
  <a class="button button-positive" href="#/app/price">BACK</a>
      </ion-content>
</ion-view>
