<ion-view view-title="promotion">
  <ion-content>
    <h1>Marketing Mix</h1>
<h2>Four Ps</h2>
<h2>Promotion</h2>
<div class="item item-text-wrap" ng-repeat="item in $storage.promotionList" >
      <ion-checkbox name="{{item.text}}" id="{{item.text}}" ng-model="item.checked" ng-change="promotionFilter()" ng-click="$storage.pro = fav" >
       <label>{{item.text}}</label>
     </div>
 </ion-checkbox></div>
        <a class="button button-block button-positive" href="#/app/place">Next</a>
</ion-content>
</ion-view>
