<ion-view view-title="Home">
  <ion-content>

  <div class="button-bar">
   <a class="button button-calm small_button" href="#/app/swotAnalysis">SWOT Analysis</a>
      </div>
      <div class="button-bar">
     <a class="button button-balanced small_button" href="#/app/fiveforces">Porter's Five Forces Analysis</a>
       </div>
      <div class="button-bar">
     <a class="button button-positive small_button" href="#/app/pestAnalysis">PEST Analysis</a>
       </div>
      </ion-content>
</ion-view>
