<ion-view view-title="Strength">
  <ion-content>
    <h2>Strength</h2>
  

      <div class="list list-inset>   <div class="item" ng-repeat="item in strengthList">
                              {{ item.suggestion }}
  </div>



  <a class="button button-balanced" href="#/app/weakness">Weakness</a>
  <a class="button button-positive" href="#/app/opportunities">Opportunities</a>
  <a class="button button-positive" href="#/app/threats">Threats</a>
  <a class="button button-positive" href="#/app/home">HOME</a>
</ion-content>
</ion-view>
