<ion-view view-title="SWOT Analysis">
  <ion-content>
    <h2>SWOT Suggestions</h2>

    <a class="button button-balanced" href="#/app/strength">Strength</a>
          <a class="button button-balanced" href="#/app/weakness">Weakness</a>
          <a class="button button-balanced" href="#/app/opportunities">Opportunities</a>
  <a class="button button-balanced" href="#/app/threats">Threats</a>


  <div class="col">
    <label class="item item-positive item-floating-label" id="ps"> Strength<br>
      {{((strengthList|filter:{checked:true}).length/5)*100}}%
    </label>
  </div>
  <div class="col">
    <label class="item item-positive item-floating-label" id="pw"> Weakness<br>
      {{((weaknessList|filter:{checked:true}).length/5)*100}}%
    </label>
  </div>
  <div class="col">
    <label class="item item-positive item-floating-label" id="po"> Opportunities<br>
      {{((opportunitiesList|filter:{checked:true}).length/5)*100}}%
    </label>
  </div>
  <div class="col">
    <label class="item item-positive item-floating-label" id="pt"> Threats<br>
    {{((threatsList|filter:{checked:true}).length/5)*100}}%
    </label>
  </div>

<div class="card">
<div class="item item-divider">
  SWOT ANALYSIS
</div>
<div class="item item-text-wrap">
  <canvas id="pie" class="chart chart-pie" data="data2" labels="labels1" legend="true" series="series" options="{showTooltips: false}"></canvas>
  </div>
  </div>
</ion-content>
</ion-view>
