<ion-view view-title="SWOT Analysis">
  <ion-content>
    <h2>SWOT Suggestions</h2>

    <a class="button button-balanced" href="#/app/strength">Strength</a>
          <a class="button button-balanced" href="#/app/weakness">Weakness</a>
          <a class="button button-balanced" href="#/app/opportunities">Opportunities</a>
  <a class="button button-balanced" href="#/app/threats">Threats</a>


  <div class="col">
    <label class="item item-positive item-floating-label" id="ps"> Strength<br>
      {{((strengthList|filter:{checked:true}).length/5)*100}}%
    </label>
  </div>
  <div class="col">
    <label class="item item-positive item-floating-label" id="pw"> Weakness<br>
      {{((weaknessList|filter:{checked:true}).length/5)*100}}%
    </label>
  </div>
  <div class="col">
    <label class="item item-positive item-floating-label" id="po"> Opportunities<br>
      {{((opportunitiesList|filter:{checked:true}).length/5)*100}}%
    </label>
  </div>
  <div class="col">
    <label class="item item-positive item-floating-label" id="pt"> Threats<br>
    {{((threatsList|filter:{checked:true}).length/5)*100}}%
    </label>
  </div>
  <button class="button button-full button-positive" ng-click="storeObject()">
           Save
        </button>
<a class="button button-block button-positive" href="#/app/swotch" ng-click="reload()">Click to view chart</a>
</ion-content>
</ion-view>
