<ion-view view-title="SWOT Analysis">
  <ion-content>
    <h2>SWOT Analysis</h2>

    <div class="card">
    <div class="item item-divider">
      SWOT ANALYSIS
    </div>
    <div class="item item-text-wrap">
      <canvas id="pie" class="chart chart-pie" data="data3" labels="labels2" legend="true" series="series" options="{showTooltips: true}"></canvas>
      </div>
      </div>
      <a class="button button-positive" href="#/app/home"><i class="icon icon ion-home"></i> HOME</a>
</ion-content>
</ion-view>
