<ion-view view-title="SWOT Analysis">
  <ion-content>
    <h1>SWOT Analysis</h1>
<h2>Strength</h2>


  <div class="list">
    <div ng-repeat="item in $storage.strengthList" >
           <ion-checkbox name="{{item.text}}" id="{{item.text}}" ng-model="item.checked" ng-change="chipsColores()">
           <label>{{item.text}}</label>
             </ion-checkbox>
         </div>

          </div>
          <div ng-repeat="fav in $storage.strengthList">
         						 Strength: {{fav.suggestion}}

         				 </div>
<div class="list">
<h2>Weakness</h2>
        <div class="list">
          <div ng-repeat="item in weaknessList" >
            <ion-checkbox name="{{item.text}}" id="{{item.text}}" ng-model="item.checked" ng-checked="$storage.swot[item.text]" ng-click="$storage.swot[item.text] = item.checked">
            <label>{{item.text}}</label>
              </ion-checkbox>
               </div>
              </div>
<h2>Opportunities</h2>
        <div class="list">
          <div ng-repeat="item in opportunitiesList" >
            <ion-checkbox name="{{item.text}}" id="{{item.text}}" ng-model="item.checked" ng-checked="$storage.swot[item.text]" ng-click="$storage.swot[item.text] = item.checked">
            <label>{{item.text}}</label>
              </ion-checkbox>
               </div>
                </div>
  <h2>Threats</h2>
              <div class="list">
                <div ng-repeat="item in threatsList" >
                  <ion-checkbox name="{{item.text}}" id="{{item.text}}" ng-model="item.checked" ng-checked="$storage.swot[item.text]" ng-click="$storage.swot[item.text] = item.checked">
                  <label>{{item.text}}</label>
                    </ion-checkbox>
                     </div>
                      </div>
                    <button class="button button-full button-positive" ng-click="storeObject()">
                             Save
                          </button>
  <a type="submit" class="button button-block button-positive" href="#/app/swotoutput" ng-click="reload()">Calculate SWOT</a>

</ion-content>
</ion-view>
