<ion-view view-title="Weakness">
  <ion-content>
    <h2>Weakness</h2>
    <div class="list list-inset">
        <div class="item">
          1.  tendencies that could menace the exitence of your company/product
        </div>
        <div class="item">
          2.  competitors improving the products/services better than you
          </div>
        <div class="item">
          3.  obstacles in the functioning of your company
          </div>
        <div class="item">
          4.  technological changes
            </div>
        <div class="item">
          5.  capital resources
          </div>
    </div>

  <a class="button button-balanced" href="#/app/strength">Strength</a>
  <a class="button button-positive" href="#/app/opportunities">Opportunities</a>
  <a class="button button-positive" href="#/app/threats">Threats</a>
    <a class="button button-positive" href="#/app/home">HOME</a>
</ion-content>
</ion-view>
