<ion-view view-title="Weekly Income Chart">
  <ion-content>
    <h2>Weekly Income Chart</h2>
    <button class="button button-full button-positive" ng-click="toggle()">
             Alternate View
          </button>
    <h2>Monthly Income Chart</h2>
    <canvas id="base" class="chart-base" chart-type="type"
  chart-data="data11" chart-labels="labels11" legend="true" series="series11" options="{showTooltips: true}">
</canvas>

  <a class="button button-balanced" href="#/app/home">HOME</a>
  <a class="button button-balanced" href="#/app/weeklyincome">BACK</a>
</ion-content>
</ion-view>
