<ion-view view-title="Weekly Income Chart">
  <ion-content>
    <h2>Weekly Income Chart</h2>
    <div class="card">
            <div class="item item-divider">
                A bar chart
            </div>
            <div class="item item-text-wrap">
                <canvas id="bar" class="chart chart-bar" data="data11" labels="labels11" legend="true" series="series11" options="{showTooltips: false}"></canvas>
            </div>
        </div>
  <a class="button button-balanced" href="#/app/home">HOME</a>
  <a class="button button-balanced" href="#/app/weeklyincome">BACK</a>
</ion-content>
</ion-view>
